@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    display: grid;
    place-items: center;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title{
    margin: 20px 0;
}

.main{
    border: 8px solid #020202dd;
    border-radius: 24px;
    overflow: hidden;
}   

.name{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color: #ffffff;
    background-color: #202c33;
    
}

.name > span {
    color: #ffffff;
}

.name-input{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline: none;
    background-color: #202c33;
}

.message-container{
    display: flex;
    flex-direction: column;
    background-color: #ac9a9a;
    /* background-image:'/img/fondo.jpg'; */
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-left, .message-right {
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-left{
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: #202c33;
    box-shadow: -2px 2px 4px #dcdcdc;
    color: #f6f6f6;
}

.message-right{
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #005c4b;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: #f6f6f6;
}

.message-left > p > span, .message-right > p > span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.feedback{
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    color: #2d2d2d;
    text-align: center;
}

.message-form{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.message-input{
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    color:#dcdcdc;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #202c33;

}

.send-button{
    height: 48px;
    font-size: 16px;
    color:#dcdcdc;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #202c33;
    cursor: pointer;
}

.v-divider {
    height: 48px;
    width: 2px;
    background-color: #ffffff;

}

.clients-total{
    margin: 20px 0;
    color: #b4b3b3;
}